<%- include('header'); -%>

<h1>About</h1><br>

<p>A journal is a written record of your thoughts, experiences, and observations. You can write in your journal daily, or only when you feel the urge.</p><br>

<p>Your daily life, the places you spend time, the people you spend time with, any thought passing through your mind -- all this is perfect journaling material. As the writer Linda Leopold Strauss says, "The world is your writing prompt." But in case you do want some ideas to get you started,
    Preserve memories. It's amazing how quickly we forget. For instance, try remembering in detail your day exactly one week ago. Can you remember what you wore? What you ate for lunch? What you felt and thought about?Try an experiment. Write down in detail everything that happened to you today. I bet you can keep going for a dozen pages or more. But if you try to write about yesterday, you might have trouble filling up more than a couple of pages. And if you go to the day before yesterday, you probably have even less. We are constantly losing pieces of our own lives, pieces of ourselves. A journal is a way of keeping them.
</p><br>

<p>Improve your writing. Generally, the more you write, the better a writer you become. Writing regularly makes writing easier, and it helps you develop your own writing voice. Even if your journal is just for yourself and it doesn't matter how "good" it is, journaling builds muscles that you can use for other kinds of writing. And the fact that it is, generally, for your eyes only makes your journal an ideal laboratory for experimenting with new styles, techniques, and subject matter, increasing your range as a writer.Your journal is also a place to collect ideas and material for creative writing. All of the sights, sounds, tastes, and feelings you record, the overheard pieces of conversation, the people you were watching in the street -- all of these can be recycled in stories and poems. These observed details will give your creative writing the texture of reality.</p><br>


<p>Sharpen your senses. Writing about your experience can make you a better observer. When we know we're going to write about something, we pay a different kind of attention to it. Keeping a journal gets you in the habit of noticing the details of your daily life. The result is like a heightening of the senses, as you observe the world with greater richness and complexity.</p>


<%- include('footer'); -%>