<%- include('header'); -%>

<h1>Contact</h1><br><br>

<ul>
    <li style="list-style-type: none;"><h3>Santhosh Kumar C</h3></li>
    <li style="list-style-type: none;"><h3>santhoshsan82000@gmail.com</h3></li>
    <li style="list-style-type: none;"><h3>6383211260</h3></li>
</ul>
<br><br><br>
<form action="mailto:santhoshsan82000@gmail.com">
    <div class="form-group">
        <label for="">Name</label><br>
        <input type="text" class="form-control"><br>
        <label for="">Email</label><br>
        <input type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">send</button>
</form>
    

<%- include('footer'); -%>