<%- include('header')-%>


<p>today i wake up 9 am ..not to happly about that .it wasn't the great start to the day.but eventhough the first half of the day was awful.i'm still trying to have a positive outlook on stuff.i think tomorrow i will wake as earlier.then i went hang out with my mates..felt awesome,feels good bec few years before i have no one else to talk to,i have been emotionally affected.then i tried myself to been a social person.now i felt awesome for what have did</p>


<div class="dummy3"></div>
<%- include('footer')-%>